body {
  background-color: slateblue;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-shadow: 1px 1px 1px black;
}

button{
  background-color: steelblue;
  border-radius: 20px;
  color: azure;
  width: fit-content;
  box-shadow: azure;
}

